.container {
  text-align: center;
  color: white;
}

/* Centered text */
.centered {
  font-family: "Poppins", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 48px;
  font-weight: 700;
  color: white;
  margin: 119px 0px;
  font-weight: bold;
}

body {
  margin: 0;
}

.logo-web-site {
  width: 5%;
}

.img {
  background-image: url("./Surtido_de_frutas.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 415px;
  padding-top: 25px;
}

.textos-centrais {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}

.bottom-left-text {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: bold;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header {
  display: flex;
  justify-content: space-around;
  margin-left: 6%;
}

.button {
  border: none;
  border-radius: 0 4px 4px 0;
  color: #fff;
  font-weight: 700;
  padding: 12px 16px;
  text-align: center;
  background-color: red;
  cursor: pointer;
}

.pesquisar-box {
  display: flex;
}

.link-button {
  margin: 0px 12px;
  background-color: transparent;
  color: white;
  font-weight: bold;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  padding: 11px 14px;
  font-size: 14px;
}

.button-secondary {
  background-color: transparent;
  border: 2px solid white;
  border-radius: 4px;
  padding: 9px 18px;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  font-size: 16px;
  margin-right: 8px;
}

button:hover {
  background-color: #ffffff4d;
}
button:last-child:hover {
  background-color: red;
}

.button-primary {
  background-color: red;
  font-weight: bold;
  font-size: 16px;
  padding: 11px 18px;
  border-radius: 4px;
  cursor: pointer;
  color: #fff;
  border: none;
}

.primeira-barra-pesquisa {
  border-radius: 4px 0px 0px 4px;
  border: 1px solid transparent;
  padding: 10px;
}

.segunda-barra-pesquisa {
  border: 1px solid transparent;
  border-left: 1px solid #ebebeb;
  padding: 10px;
}

.filtro-pesquisa {
  color: #fff;
  padding: 16px 15px;
  font-size: 14px;
}

.subtitulo {
  display: flex;
  font-family: "Poppins", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 28px;
  place-content: center;
  font-weight: bold;
}

.flex-flow {
  flex-flow: column;
}

.card-container {
  display: flex;
  justify-content: space-between;
  justify-content: center;
}

.card {
  background-color: #fff;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 20px;
}

.card h2 {
  margin-top: 0;
}

.card p {
  margin-bottom: 0;
}

.card {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  flex-wrap: wrap;
  width: 300px;
}

.card-img {
  display: flex;
  align-items: flex-start;
  margin-right: 20px;
}

.card-img img {
  width: 100%;
  height: auto;
  display: block;
}

.card-img-info {
  display: flex;
  flex-direction: column;
  margin-right: 10px;
  white-space: nowrap;
  align-self: center;
}

.card-img-info p {
  margin: 0;
}

.card-info {
  display: flex;
  flex-direction: column;
}

.card-info p {
  margin: 0;
}

.titulo-card {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.subtitulo-card {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: rgba(45, 46, 47, 1);
}

.titulo-info-card {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: rgba(2, 122, 151, 1);
  font-size: 14px;
  font-weight: bold;
}

.likes-card {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: rgba(45, 46, 47, 1);
}

.espacamento-esquerda{
  margin-left: 18px !important;

}

.pointer{
  cursor: pointer;
}
